<h1>Login Form</h1>

<div class="container">
<form #loginForm="ngForm" (ngSubmit)="onSubmit()" >

    <label for="email">Email</label>
    <input type="email" 
    id="email" 
    name="email" 
    class="form-control"
    #email="ngModel"
    [(ngModel)]="this.userService.returningUser.email"
    required pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'/>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
        <div *ngIf="email.errors?.['required']">
            Email is required
        </div>
        <div *ngIf="email.errors?.['pattern']">
            Invalid Email 
        </div>
    </div>
    <br/>

    <label for="password">Password</label>
    <input type="password" 
    id="password" name="password" 
    class="form-control"
    #password="ngModel"
    [(ngModel)]="this.userService.returningUser.password"
    required />
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
       <div *ngIf="password.errors?.['required']">
            Password is required
        </div>
        <div *ngIf="password.errors?.['minlength']">
            Password must be atleast 5 characters long
        </div>
        <div *ngIf="password.errors?.['pattern']">
            Password must contain lower case, upper case, a number and a special character(@$!%*?&)
        </div>
    </div>
    <br/>
	
    <button type="submit" >Submit</button>
    <button type="button" (click)="resetForm()">Reset</button>

</form>

</div>
