
<br/>

<div class="container">
    <h1>Add New Books</h1>


<form #bookForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="container">
    <!-- <input type="hidden" name="id" [(ngModel)]="bookservice.selectedBooks._id"/>  -->
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" name="title" 
        [(ngModel)]="bookservice.selectedBooks.title">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input class="form-control" type="text" id="author" name="author" 
        [(ngModel)]="bookservice.selectedBooks.author">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input class="form-control" type="text" id="category" name="category" 
        [(ngModel)]="bookservice.selectedBooks.category">
    </div>

    <div class="form-group">
        
    <label for="ISBN">ISBN</label>
    <input type="text" id="isbn" name="isbn"
    [(ngModel)]="bookservice.selectedBooks.isbn"/>

    </div>
    <br/>
    
    <!-- <input type="hidden" id="copies" name="copies" value="1"/> -->
    <button type="submit" class="btn btn-primary">Create</button>
    <button type="button" class="btn btn-secoundary" (click)="resetForm()">reset</button>
</div>




    
  

</form>

</div>

