<h1>Cart </h1>

<table>
    <tr>
      
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Remaining Copies</th>
      <th>Rented Copies</th>


    </tr>
    <tr *ngFor="let book of books" >
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.category}}</td>
      <td>{{book.copies}}</td>
      <td>{{book.rented}}</td>

      <!-- <td><button class="details" (click)='gotoPage("details",book)'>details</button></td>
      <td><button class="delete" (click)='delete(book)'>delete</button></td>
      <td><button class="update" (click)='gotoPage("update",book)'>Update</button></td>
      <td><button> test</button></td> -->

    </tr>
    <!-- <button class="create" (click)='gotoPage("create",null)'>Create</button> -->
    
  </table>