*{
    font-family: sans-serif
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  
  button {
    background-color: #cccfcc; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

    margin: 8px;
    
  }

 

  button.rent{
    background-color: rgb(198, 255, 112);
  }

  button.return{
    background-color: rgb(157, 174, 248);
  } 
 