
<div class="container-md">
    <!-- <tr>
      <td>{{books.title}}</td>
      <td>{{books.author}}</td>
      <td>{{books.category}}</td>
      <td>{{books.copies}}</td>
      <td>{{books.rented}}</td>
    </tr> -->

    <br/>

    <div *ngIf="books.copies<1" class="alert alert-danger" role="alert">
      No copies of the books are available currently!
    </div>
    <h1>{{books.title}}</h1>

    <div class="card w-100" style="height: 18rem;">
      
      <div class="card-body">
        <h5 class="card-title">{{books.author}}</h5>
        <p class="card-text text-muted">{{books.category}}</p>
        <p class="card-text">{{books.ISBN}}</p>
        
      </div>

      <div class="btn-group" role="group" aria-label="Basic buttons" *ngIf="isadmin==true else AdminControl" >

        <button *ngIf="books.copies>0 "  class="btn btn-success" (click)='rentBook()'>Add to Cart</button>
        <!-- <ng-template #desablecart><button class="btn btn-success" disabled>Add to Cart</button></ng-template> -->
        
        <button *ngIf="books.copies<1 " type="button" class="btn btn-warning" (click)='returnBook()'>Return this book</button>
          <!-- <ng-template #desablereturn><button class="btn btn-warning" disabled>Return Book</button></ng-template> -->
          <button  type="button" class="btn btn-light" (click)='addWishList(books)'>Add to wishlist</button>
            <!-- <ng-template #desablereturn><button class="btn btn-warning" disabled>Return Book</button></ng-template> -->
       
        
      </div>
      <ng-template #AdminControl>
      
      <div class="btn-group" role="group" aria-label="admin buttons">
        <button class="btn btn-primary" (click)='update(books)'>Update</button>
        <button class="btn btn-danger" (click)='delete(books)'>Delete</button>
      </div>
    </ng-template>
    </div>


   
</div>
