<h1>Welcome to Books Application </h1>

<table>
    <tr>
      
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Remaining Copies</th>
      <th>Rented Copies</th>

      <th></th>
      <th></th>
      <th></th>
      <th></th>


    </tr>
    <tr *ngFor="let book of books" >
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.category}}</td>
      <td>{{book.copies}}</td>
      <td>{{book.rented}}</td>

      <td><button class="details" (click)='gotoPage("details",book)'>Details</button></td>
      <td><button *ngIf="isAdmin" class="delete" (click)='delete(book)'>Delete</button></td>
      <td><button *ngIf="isAdmin" class="update" (click)='gotoPage("update",book)'>Update</button></td>
      <td><button (click)="addWishList(book)"> Add to Wishlist</button></td>
      

    </tr>
    <button *ngIf="isAdmin" class="create" (click)='gotoPage("create",null)'>Create</button>
    <button class="cart" (click)='gotoPage("cart", null)'>View Cart</button>
    <button class="wishlist" (click)='gotoPage("wishlist", null)'>View Wishlist</button>
    

  </table>
