*{
    font-family: sans-serif
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #d6d3d3;
    text-align: center;
    padding: 8px;

  }
  
  tr:nth-child(even) {
    background-color: #f8e4a1;
  }

  button {
    background-color: #cccfcc; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 8px;
  }

  button.delete{
    background-color: red;

  }

  button.create{
    background-color: rgb(198, 255, 112);
  }

  button.update{
    background-color: rgb(157, 174, 248);
  } 
  button.details{
    background-color: rgb(214, 112, 255);
  }