<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">Book Name</th>
        <th scope="col">Return</th>
        <th scope="col">View Details</th>
      </tr>
    </thead>
    <tbody>
    <!--Data to be fetched from rented[] of user collection-->
      <tr *ngFor ="let book of Users.rentedbooks">
        <td></td>
        <td>
          <button type="button">Return Book</button>
          <button type="button">View Details</button>
        </td>
      </tr>
      
    </tbody>
  </table>