<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"   routerLink="" *ngIf="userservice.loggedIn()">Home</a>
        </li> 
       <li class="nav-item">
          <a class="nav-link" routerLink="signup" *ngIf="!userservice.loggedIn()">Register</a>
        </li> 
         <li class="nav-item dropdown">
          <a class="nav-link" routerLink="login" *ngIf="!userservice.loggedIn()">Login</a>
        </li>

      <li class="nav-item dropdown">
          <a class="nav-link"  routerLink="cart"  *ngIf="userservice.loggedIn()">Cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link"  routerLink="rent-abook"  *ngIf="userservice.loggedIn()">Library</a>
        </li>
       
        <li class="nav-item dropdown"  *ngIf="userservice.loggedIn()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink" >
           
            <li><a class="nav-link" routerLink="user-profile" [routerLinkActive]="['active']" >Profile</a></li>
            <li *ngIf="isadmin == true else AdminControl"><a class="nav-link" routerLink="wishlist">Wishlist</a></li>
            <ng-template #AdminControl>
            <li><a class="nav-link" routerLink="userlog">Logs</a></li>

            </ng-template>
            

            <!-- <li><a class="nav-link" routerLink="login">Signout</a></li> -->
          </ul>
          </li>

          
      </ul>
    </div>
  </div>
</nav>


