<h1 class="display-4">WishList </h1>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrap">
        <table class="table table-borderless">
          <br>
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Category</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="alert" role="alert" *ngFor="let book of books" >
              <td class="d-flex align-items-center">
                <div class="row">
                  <span> {{book.title}} </span>
                </div>
              </td>

              <td>{{book.author}}</td>
              <td>{{book.category}}</td>  
              
              <td> 
                <button type="button" class="btn-close btn-close-black" aria-label="Close" (click)="removeItem(book)"></button>
              </td>
            </tr>
          </tbody>
            
          </table>
      </div>
    </div>
  </div>
</div>