<div class="card mb-3 content">
    <h1 class="m-3">Change Password Here</h1>

    <form (ngSubmit)="changePassword()" ngNativeValidate #changepassword="ngForm">
        <div class="row">
            <div class="col-md-3">
                <label for="current">Current Password:</label>
            </div>
            <div class="col-md-9 text-secondary">
                <input id="current" type="password" name="current_password"
                [(ngModel)]="current_password" #current="ngModel" required>

                <div *ngIf="current.invalid && current.touched" >
                    <span style="color: red;">Please enter current password*</span>
                </div>
            </div>
            
        </div>
    
        <div class="row">
            <div class="col-md-3">
                <label for="new">New Password:</label>
            </div>
            <div class="col-md-9 text-secondary">
                <input id="new" type="password" name="current_password"
                [(ngModel)]="new_password" #neww="ngModel" required>

                <div *ngIf="neww.invalid && neww.touched" >
                    <span style="color: red;">Please enter new password*</span>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-3">
                <label for="confirm">Confirm Password:</label>
            </div>
            <div class="col-md-9 text-secondary">
                <input id="confirm" type="password" name="current_password"
                [(ngModel)]="confirm_password" #confirm="ngModel" required>

                <div *ngIf="confirm.invalid && confirm.touched">
                    <span style="color: red;">Please confirm password*</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit">Change Password</button>
            </div>
        </div>
    </form>

    {{current_password}}{{new_password}}{{confirm_password}}

</div>