<table class="table table-condensed">
    <tr>
       
        <th>Book Id</th>
        <th>Date</th>
        <th>Status </th>

    </tr>

    <tr *ngFor="let userlog of userlogs">
        <!-- <td>{{userlog.userid}}</td> -->
        <!-- <td>{{userlog.bookid}}</td> -->
        <!-- <td>{{userlog.dateAndtime}}</td> -->
        <td *ngIf="userlog.rented==true"><span class="rented">Rented</span></td>
        <td *ngIf="userlog.rented==false"><span class="returned">Returned</span></td>

    </tr>
</table>